/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PugsleyUpright";
  src: url("./fonts/Pugsley.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Pugsley.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  font-weight: normal;
  font-style: normal;
}